<%- daily_teaching_points.each_with_index do |dtp, index| %>
  <tr style="<%= 'color:red;' if dtp.class_catlogs.blank? %>">
    <td>
      <%= index + 1  %>
    </td>
    <td>
      <%= check_box_tag dtp.id, dtp.points, false, style: 'display:inline-block;margin:0;' %>
    </td>
    <td>
      <a href="<%= daily_teach_path(dtp) %>" style="display:inline-block;">
	<%= dtp.chapter.try(:name) %>
      </a>
    </td>
    <td>
      <a href="<%= daily_teach_path(dtp) %>" style="display:inline-block;">
	<%= dtp.chapters_point.try(:name) %>
      </a>
    </td>
    <td>
      <a href="<%= daily_teach_path(dtp) %>" style="display:inline-block;">
	<%= dtp.points %>
      </a>
    </td>
    <td>
      <%= dtp.date.to_date %>
    </td>
    <td>
      <%= dtp.absent_count %>
    </td>
    <td>
      <%- if dtp.is_fill_catlog.present? && dtp.is_sms_sent == false && dtp.verify_absenty && current_user.has_role?(:publish_daily_teach_absenty) && @jkci_class.enable_class_sms %>
        <%= link_to "Send sms", class_absent_sms_path(dtp),  class: "btn btn-primary", onclick: "return confirm('Are you sure?')", :method=> :post %>
      <%- elsif dtp.is_fill_catlog.present? && dtp.is_sms_sent == false && !dtp.verify_absenty && current_user.has_role?(:verify_daily_teach_absenty)%>
        <%= link_to "Verify Absenty", daily_teach_path(dtp),  class: "btn btn-primary" %>
      <%- end %>
    </td>
  </tr>
<%- end %>
