<div class="textLeft ">
<%= form_for @jkci_class, html:{role: 'form', class: 'form-horizontal'} do |f| %>
  <div class="form-group">
    <span class="col-sm-2 control-label">Class Name : </span>
    <div class="col-sm-4">
      <%= f.text_field :class_name %>
    </div>
  </div>
  <div class="form-group">
    <span class="col-sm-2 control-label"> Class Start Time</span>
    <div class="col-sm-4">
      <%= f.text_field :class_start_time, value:  Time.now %>
    </div>
  </div>
  <div class="form-group">
    <span class="col-sm-2 control-label">Class end Time</span>
    <div class="col-sm-4">
      <%= f.text_field :class_end_time, value: Time.now+ 6.months %>
    </div>
  </div>
  <div class="form-group">
    <span class="col-sm-2 control-label">Teacher</span>
    <div class="col-sm-4">
      <%= f.select :teacher_id, options_from_collection_for_select(@teachers, "id", "name"), prompt: "Select something" %>
    </div>
  </div>
  
  <div class="col-sm-offset-2 ">
    <%= f.submit 'Save', class: 'btn btn-primary btn-sm', onclick: "return confirm('Are you sure?')" %>
    <%- if f.object.id.present? %>
      <%= link_to 'Cancel', jkci_class_path(@jkci_class), class: 'btn btn-warning btn-sm'%>
    <%- else %>
      <%= link_to 'Cancel', jkci_classes_path, class: 'btn btn-warning btn-sm'%>
    <%- end %>
  </div>
<%- end %>

</div>
