<%- students.each_with_index do |student, index| %>
  <tr>
    <td>
      <%= student.roll_number %>
    </td>
    <td>
      <a href="<%= student_path(student.id) %>"><%= student.first_name + ' ' + student.last_name %></a>
    </td>
    <td>
      <%= student.p_mobile %>
    </td>
    <td>
      <%- if !student.enable_sms %>
        <%= link_to "Enable Sms", enable_student_sms_path(student), onclick: "enableStudentSms(this, event);" %>
      <%- end %>
    </td>
    <td>
      <%= link_to "Report", download_progress_report_path(student, format: "pdf"), class: "btn btn-primary btn-sm", target: "_blank" %>
    </td>
    <td>
      <%= link_to "Delete", remove_student_from_class_path(@jkci_class, student), onclick: "removeClassStudent(event, this);" %>
    </td>
  </tr>
<%- end %>
