<div class="col-sm-12">
  <h1>
    <%= @jkci_class.class_name %>
  </h1>
  
  <div>
    <h2>Sasd sad</h2>
  </div>
  <div class="textLeft assignedStudents">
    <%- @students.each do |student| %>
      <div style="text-align:left;">
        <%= check_box_tag student.id, student.name, @selected_students.include?(student.id) %> 
        <label for="<%= student.id%>" style="display:inline-block;"><%= "#{student.name} - #{student.group}  - #{student.std}" %> </label>
      </div>
    <%- end %>
  </div>
  
  <div class="textLeft" style="width:100%;margin-top:20px;">
    <%= link_to 'Submit', "#", onclick: "assignClassStudents(event, this);", class: 'btn btn-primary', data: {id: @jkci_class.id}  %>
    <%= link_to 'Cancel', jkci_class_path(@jkci_class), class: 'btn btn-warning'  %>
  </div>
</div>

