<div id="k-body" class="k-body adminDesk">
  <div class="container">
<div class="col-sm-12">
  <div>
    <h2><%= @jkci_class.standard.std_name %> Students</h2>
  </div>
  <div class="textLeft assignedStudents">
    <%- @students.each do |student| %>
      <div style="text-align:left;">
        <%= check_box_tag student.id, student.name, @selected_students.include?(student.id) %> 
        <label for="<%= student.id%>" style="display:inline-block;"><%= "#{student.name} - #{student.group}  - #{student.std}" %> </label>
      </div>
    <%- end %>
  </div>
  
  <div class="textLeft" style="width:100%;margin-top:20px;">
    <%= link_to 'Submit', "#", onclick: "assignClassStudents(event, this);", class: 'btn btn-primary', data: {id: @jkci_class.id}  %>
    <%= link_to 'Cancel', jkci_class_path(@jkci_class), class: 'btn btn-default'  %>
  </div>
</div>

  </div>
</div>
