<div id="k-body" class="k-body adminDesk">
  <div class="container">
    <div class="col-sm-12 textLeft">
      <div class="col-sm-12 textLeft">
	<h2>Class</h2>
      </div>
      <div class="col-sm-12 textLeft">
	<span class="col-sm-2"><h5>Class Name</h5></span>
	<span class="col-sm-6 paddingTop10"><%= @jkci_class.class_name %></span>
      </div>
      <div class="col-sm-12 textLeft">
	<span class="col-sm-2"><h5>Start date</h5> </span>
	<span class="col-sm-6 paddingTop10"><%= @jkci_class.class_start_time %></span>
      </div>
      <div class="col-sm-12 textLeft">
	<span class="col-sm-2"><h5>End Date</h5></span>
	<span class="col-sm-6 paddingTop10"><%= @jkci_class.class_end_time %></span>
      </div>
      <div class="col-sm-12 textLeft">
	<span class="col-sm-2"><h5>Teacher</h5></span>
	<span class="col-sm-6 paddingTop10"><%= @jkci_class.teacher.try(:name) %></span>
      </div>
      <div class="col-sm-12 textLeft">
	<span class="col-sm-2"><h5>Download Syllabus</h5></span>
	<span class="col-sm-6 paddingTop10">
	  <%= link_to "Download Syllabus" , download_class_syllabus_path(@jkci_class, {format: :pdf}), class: 'btn btn-primary btn-sm', target: "_blank" %> &nbsp;&nbsp;&nbsp;
	</span>
      </div>
      <div class="col-sm-12 textLeft">
	<span class="col-sm-2"><h5>Download Catlog</h5></span>
	<span class="col-sm-6 paddingTop10">
	  <%= link_to "Download Catlog" , download_class_catlog_path(@jkci_class, {format: :pdf}), class: 'btn btn-primary btn-sm', target: "_blank" %>
	</span>
      </div>
      <div class="col-sm-12 textLeft">
	<span class="col-sm-2"><h5>Download Student List</h5></span>
	<span class="col-sm-6 paddingTop10">
	  <%= link_to "Download Student List" , download_class_student_list_path(@jkci_class, {format: :pdf}), class: 'btn btn-primary btn-sm', target: "_blank" %>
	</span>
      </div>
      <div class="col-sm-12 textLeft paddingTop10">
	<%# link_to "Edit" , edit_standard_jkci_class_path(@jkci_class.standard, @jkci_class), class: 'btn btn-primary btn-sm' %>
      </div>
      <div class="col-sm-12 textLeft paddingTop10">
	<%- if current_user.has_role? :create_daily_teach %>
	  <%= link_to "Daily Teach",  new_jkci_class_daily_teach_path(@jkci_class), class: 'btn btn-primary btn-sm' %>
	<%- end %>
	<%- if current_user.has_role? :create_exam %>
	  <%= link_to "Create Exam",  "#", onclick: "createClassExam(event, this);" , class: 'btn btn-primary btn-sm', data: {id: @jkci_class.id} %>
	<%- end %>
	<%= link_to "Assign Students",  class_assign_students_path(@jkci_class), class: 'btn btn-primary btn-sm' %>
	<%= link_to "Create Division", new_jkci_class_sub_class_path(@jkci_class), class: 'btn btn-primary btn-sm' %>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:25px;">
	<ul class="nav nav-tabs nav-justified">
	  <li class="">
	    <a href="#k-tab-students" data-toggle="tab">Students (<%= @jkci_class.students.enable_students.count %>)</a>
	  </li>
	  <li class="">
	    <a href="#k-tab-exams" data-toggle="tab">Exams (<%= @jkci_class.exams.count %>)</a>
	  </li>
	  <li class="<%= 'active' unless (params[:divisions].present? || params[:notifications].present?) %>">
	    <a href="#k-tab-daily_teach" data-toggle="tab">Daily Teach</a>
	  </li>
	  <li class="<%= 'active' if params[:divisions].present? %>">
	    <a href="#k-tab-sub_class" data-toggle="tab">Divisions(<%= @jkci_class.sub_classes.count %>)</a>
	  </li>
	  <li class="<%= 'active' if params[:notifications].present? %>">
	    <a href="#k-tab-notification" data-toggle="tab">
	      Notifications(<%= @notifications.count %>)
	    </a>
	  </li>
	</ul>
	<div class="tab-content">
	  <div id="k-tab-students" class="tab-pane fade">
	    <div class="textLeft">
	      <table class="table table-hover studentsTable">
		<thead>
		  <tr>
		    <th>#</th>
		    <th>Name</th>
		    <th>Gender</th>
		    <th>Group</th>
		    <th>Mobile</th>
		    <th>Parent Mobile</th>
		    <th>Actions</th>
		    <th>Download Report</th>
		  </tr>
		</thead>
		<%= render partial: 'students', locals: {jkci_class: @jkci_class}%>
	      </table>
	    </div>
	  </div>
	  <div id="k-tab-exams" class="tab-pane fade ">
	    <div class="textLeft">
	      <table class="table table-hover examsTable table-striped">
		<%= render partial: '/exams/exam_table_head' %>
		<%= render partial: '/exams/exam', locals: {exams: @class_exams}%>
	      </table>
	      <div class="paginationDiv">
		<%= render partial: 'exam_pagination', locals: {class_exams: @class_exams} %>
	      </div>
	    </div>
	  </div>
	  <div id="k-tab-daily_teach" class="tab-pane fade <%= 'active in' unless (params[:divisions].present? || params[:notifications].present?) %>">
	    <div class="left dailyTeachChapters alert alert-success" style="width:100%;" data-class-id="<%= @jkci_class.id %>">
	      <strong>Chapters</strong>
	      <%- @chapters.each do |chapter| %>
	        <%= check_box_tag chapter.id, chapter.name, @teached_chapters.include?(chapter.id), style: 'display:inline-block;margin:0;', onclick: "dailyTeachingChapterSelect(event, this);", data: {id: chapter.id} %>
		<%= chapter.name %>
	      <%- end %>
	    </div>
	    <div class="textLeft">
	      <table class="table table-hover examsTable table-striped dailyTeach">
		<thead>
		  <tr>
		    <th>#</th>
		    <th>Select</th>
		    <th>Chapter</th>
		    <th>Point</th>
		    <th>Desc</th>
		    <th>Date</th>
		    <th>Absents</th>
		    <th>SMS Sent</th>
		  </tr>
		</thead>
		<%= render partial: 'daily_teaching_point', locals: {daily_teaching_points: @daily_teaching_points}%>
	      </table>
	      <div class="paginationDiv">
		<%= render partial: 'daily_teach_pagination', locals: {class_daily_teach: @daily_teaching_points} %>
	      </div>
	    </div>
	    <div style="width:100%;" class="loadingImg center hide">
	      <img src="/assets/fancybox_loading.gif">
	    </div>
	  </div>
	  <div id="k-tab-sub_class" class="tab-pane fade <%= 'active in' if params[:divisions].present? %>">
	    <%= link_to "Download Division Catlog" , download_class_catlog_path(@jkci_class, {format: :pdf}), class: 'btn btn-primary btn-sm', onclick: "downloadSubClassCatlog(event, this);" %>
	    <table class="table table-hover examsTable table-striped subClass">
	      <thead>
		<tr>
		  <th>Select</th>
		  <th>#</th>
		  <th>Name</th>
		  <th>Description</th>
		  <th>Students</th>
		  <th>Action</th>
		</tr>
	      </thead>
	      <%= render partial: 'sub_class', locals: {sub_classes: @jkci_class.sub_classes}%>
	    </table>
	  </div>
	  <div id="k-tab-notification" class="tab-pane fade <%= 'active in' if params[:notifications].present? %> ">
	    <table class="table table-hover examsTable table-striped subClass">
	      <thead>
		<tr>
		  <th>#</th>
		  <th>Message</th>
		  <th>Link</th>
		  <th>Action</th>
		</tr>
	      </thead>
	      <%= render partial: 'notification/notification', locals: {notifications: @notifications}%>
	    </table>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
