<div id="k-body" class="k-body adminDesk">
  <div class="container">
    <div class="loginContainer" style="height:395px;">
      <div class="pull-left col-lg-4 col-md-4">
	<h2 style="color:#fff;">Edit Account Tips</h2>
	<%= devise_error_messages! %>
      </div>
      <div class="pull-right col-lg-5 col-md-5">
	<h2 style="color:#fff;">Edit <%= resource.email %></h2>
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

	
	<%# f.hidden_field :email, value: resource.email %>
	  
	
	<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
	<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
	<% end %>
	
	<div class="field">
	  <%= f.label :password %> <br />
	  <%= f.password_field :password, autocomplete: "off" %>
	</div>
	
	<div class="field">
	  <%= f.label :password_confirmation %><br />
	  <%= f.password_field :password_confirmation, autocomplete: "off" %>
	</div>

	<div class="field">
	  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
	  <%= f.password_field :current_password, autocomplete: "off" %>
	</div>
	
	<div class="actions paddingTop10">
	  <%= f.submit "Update", class: "btn btn-primary" %>
	  <%= link_to "Back", :back, class: "btn btn-default" %>
	</div>
	<% end %>

      </div>
    </div>
  </div>
</div>

















