<div class="textLeft ">
  <%= form_for @student, html:{role: 'form', class: 'form-horizontal'}  do |f| %>
    <%- if @standard.present? %>
    <%= f.hidden_field :standard_id, value: @standard.id %>
    <%- end %>
    <div class="form-group">
      <%= f.label :initl, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
	<%= f.select :initl , options_for_select([ "Mr", "Miss" ], f.object.initl || "Mr"),{},  class:"form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :first_name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
	<%= f.text_field :first_name, class: 'form-control col-sm-4' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :middle_name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
	<%= f.text_field :middle_name, class: 'form-control col-sm-4' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :last_name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
	<%= f.text_field :last_name, class: 'form-control col-sm-4' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :gender, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
	<%= f.select :gender , options_for_select([ "Male", "Female" ], f.object.gender || "Male"),{},  class:"form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :batch, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
	<%= f.select :batch_id, options_from_collection_for_select(@batches, "id", "name"),{},  class:"form-control" %>
      </div>
    </div>
    <%- unless @standard.present? %>
    <div class="form-group">
      <%= f.label :standard, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
	<%= f.select :standard_id, options_from_collection_for_select(@standards, "id", "std_name", f.object.standard_id),{}, onchange: "selectStandardOSubjects(event, this);",  class:"form-control" %>
      </div>
    </div>
    <%- end %>

    <div class="form-group">
      <%= f.label :optional_subject, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
	<%= select_tag 'o_subjects', options_from_collection_for_select(@subjects, "id", "std_name", f.object.subjects.present? ? f.object.subjects.map(&:id).map(&:to_i) : []), { multiple: true, :max_size =>6, class: 'form-control'} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
	<%= f.email_field :email, class: 'form-control col-sm-4' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :mobile, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
	<%= f.text_field :mobile, class: 'form-control col-sm-4' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :parent_name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
	<%= f.text_field :parent_name, class: 'form-control col-sm-4' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :p_mobile, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
	<%= f.text_field :p_mobile, class: 'form-control col-sm-4' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :p_email, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
	<%= f.text_field :p_email, class: 'form-control col-sm-4' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :address, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
	<%= f.text_area :address, class: 'form-control col-sm-4' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :group, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
	<%= f.select :group, options_for_select([ "PCB", "PCM", "PCMB" ], f.object.group), {}, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :rank, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
	<%= f.text_field :rank, class: 'form-control col-sm-4' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2">
	<%= f.submit 'Save' , class: 'btn btn-primary'%>
	<%= link_to "Cancel", students_path, class: 'btn btn-default' %>
      </div>
    </div>
  <%- end %>
</div>
