<div id="k-body" class="k-body adminDesk">
  <div class="container">
<div>
  <h1>Students</h1>
</div>
<%= link_to 'New Student', new_student_path, class: 'btn btn-primary' %>
<div class="textLeft fullWidth">
  <h2 class="left">Filter By</h2>
  <%= text_field_tag :filter_student, nil ,  placeholder: "Filter Student", style:"margin:15px 20px;width:200px;", class: "filter_student form-control left", onkeyup: "searchStudentByFilter(event);" %>
  <%= select_tag :filter_student_batch, options_from_collection_for_select(@batches, "id", "name"), prompt: "Select Batch", style:"margin:15px 20px;width:200px;", class: "filter_student_batch form-control left", onchange: "studentFilter(event, this)" %>
  <%= select_tag :filter_student_standard, options_from_collection_for_select(@standards, "id", "name"), prompt: "Select Standard", style:"margin:15px 20px;width:200px;", class: "filter_student_standard form-control left", onchange: "studentFilter(event, this)" %>
  
  <%= select_tag :filter_student_gender, options_for_select([ "Male", "Female" ], ''), prompt: "Select Gender", style:"margin:15px 20px;width:200px;", class: "filter_student_gender form-control left", onchange: "studentFilter(event, this)" %>
</div>
<div>
  <table class="table table-hover studentsTable table-condensed">
    <thead>
      <tr>
	<th>#</th>
	<th>Name</th>
	<th>Gender</th>
	<th>Class</th>
	<th>Group</th>
	<th>Mobile</th>
	<th>Parent Mobile</th>
	<th>Actions</th>
	<th>Download Report</th>
      </tr>
    </thead>
    <%= render partial: 'student', locals: {students: @students}%>
    
  </table>
  <div class="paginationDiv">
    <%= render partial: 'pagination', locals: {students: @students} %>
  </div>
</div>

</div>
</div>
