<div id="k-body" class="k-body adminDesk">
  <div class="container">
<div class="col-sm-12 textLeft">
  <div class="studentShow">
    <p>&nbsp;</p>
    <div class="col-sm-12">
      <h5>
	<small class="col-sm-4">Name :</small> 
	<span style="font-size:20px;"><%= @student.name %></span>
      </h5>
    </div>
    <div class="col-sm-12">
      <h5>
	<small class="col-sm-4">Mobile :</small> 
	<span style="font-size:20px;"><%= @student.mobile %></span>
    </h5>
    </div>
    <div class="col-sm-12">
      <h5>
	<small class="col-sm-4">Parent Name:</small> 
	<span style="font-size:20px;"><%= @student.parent_name %></span>
      </h5>
    </div>
    <div class="col-sm-12">
      <h5>
	<small class="col-sm-4">Parent Mobile :</small> 
	<span style="font-size:20px;"><%= @student.p_mobile %></span>
      </h5>
    </div>
    <div class="col-sm-12">
      <h5>
	<small class="col-sm-4">Group :</small> 
	<span style="font-size:20px;"><%= @student.group %></span>
      </h5>
    </div>
    <div class="col-sm-12">
      <h5>
	<small class="col-sm-4">Parent Login User :</small> 
	<span style="font-size:20px;"><%= @student.user.try(:username) %></span>
	<span style="font-size:12px;" class=""><%= link_to "Assign user", select_login_user_path(@student) , onClick: "getUsersForStudent(event, this);"%></span>
      </h5>
    </div>
  </div>
  <div class="userLoginDiv">
    
  </div>
  <div class="col-sm-12">
    <%= link_to "Edit", edit_student_path(@student), class: "btn btn-primary" %>
    <%= link_to "Disable Student", disable_student_path(@student), class: "btn btn btn-default", onclick: "return confirm('Are you sure?')"%>
  </div>
  <div class="col-sm-12" style="margin-top:15px;">
    <h5>
      <span class="col-sm-4 paddingL0">Classes :</span> 
      <%- @student.jkci_classes.each do |jkci_class| %>
        <%= link_to jkci_class.class_name, jkci_class_path(jkci_class) %>  |  
      <%- end %>
    </h5>
  </div>
  <div class="col-sm-4">
    <h3>Exams Report</h3>
    <%- @exam_catlogs.each_with_index do |exam_catlog, index| %>
    <div>
      <%= index + 1 %>  :  <a class="<%= 'red' unless exam_catlog.is_present.present? %>" href="<%= exam_path(exam_catlog.exam) %>"><%= exam_catlog.exam_report %></a>
    </div>
    <%- end %>
  </div>
  <div class="col-sm-8">
    <h3>Daily Report</h3>
    <%- @class_catlogs.each_with_index do |class_catlog, index| %>
      <div>
	<%= index + 1 %> <a class="<%= 'red' unless class_catlog.is_present.present? %>" href="<%= daily_teach_path(class_catlog.daily_teaching_point) %>"><%= class_catlog.class_report %></a>
      </div>
    <%- end %>
    <div>
      
    </div>
  </div>
  
</div>
  </div>
</div>
