<div id="k-body" class="k-body adminDesk">
  <div class="container">
<div class="col-sm-12 textLeft">
  <div class="studentShow col-sm-6">
    <p>&nbsp;</p>
    <div class="col-sm-12">
      <h5>
	<small class="col-sm-4">Name :</small> 
	<span style="font-size:20px;"><%= @student.name %></span>
      </h5>
    </div>
    <div class="col-sm-12">
      <h5>
	<small class="col-sm-4">Mobile :</small> 
	<span style="font-size:20px;"><%= @student.mobile %></span>
    </h5>
    </div>
    <div class="col-sm-12">
      <h5>
	<small class="col-sm-4">Parent Name:</small> 
	<span style="font-size:20px;"><%= @student.parent_name %></span>
      </h5>
    </div>
    <div class="col-sm-12">
      <h5>
	<small class="col-sm-4">Parent Mobile :</small> 
	<span style="font-size:20px;"><%= @student.p_mobile %></span>
      </h5>
    </div>
    <div class="col-sm-12">
      <h5>
	<small class="col-sm-4">Group :</small> 
	<span style="font-size:20px;"><%= @student.group %></span>
      </h5>
    </div>
    <div class="col-sm-12">
      <h5>
	<small class="col-sm-4">Parent Login User :</small> 
	<span style="font-size:20px;"><%= @student.user.try(:username) %></span>
	<span style="font-size:12px;" class=""><%= link_to "Assign user", select_login_user_path(@student) , onClick: "getUsersForStudent(event, this);"%></span>
      </h5>
    </div>
  </div>
  <div class="userLoginDiv col-sm-6">
    
  </div>
  <div class="col-sm-12 left">
    <%= link_to "Edit", edit_student_path(@student), class: "btn btn-primary" %>
    <%- unless @student.is_disabled %>
      <%= link_to "Disable Student", disable_student_path(@student), class: "btn btn btn-default", onclick: "return confirm('Are you sure?')"%>
    <%- end %>
    <%= link_to 'Back', :back, class: "btn btn-default" %>
  </div>
  <div class="col-sm-12" style="margin-top:15px;">
    <h5>
      <span class="col-sm-2">Classes :</span> 
      <%- @student.jkci_classes.each do |jkci_class| %>
        <%= link_to jkci_class.class_name, jkci_class_path(jkci_class) %>  |  
      <%- end %>
    </h5>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:25px;">
    <ul class="nav nav-tabs nav-justified">
      <li class="active">
	<a href="#k-tab-exam_report" data-toggle="tab">Exam Report (<%= @student.exams.count %>)</a>
      </li>
      <li>
	<a href="#k-tab-daily_report" data-toggle="tab">Daily Report (<%= @student.class_catlogs.count%>)</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="k-tab-exam_report" class="tab-pane fade active in">
	<table class="table table-hover table-striped examTable">
	  <thead>
	    <tr>
	      <th>Exam Id</th>
	      <th class="col-sm-4">Exam Name</th>
	      <th>Type</th>
	      <th>Class</th>
	      <th>Date</th>
	      <th>Is Present</th>
	      <th>Marks</th>
	      <th>Rank</th>
	    </tr>
	  </thead>
	  <%= render partial: 'students_exam', locals: {catlogs: @exam_catlogs} %>
	</table>
	<div class="paginationDiv">
	  <%= render partial: 'filter_pagination', locals: {catlogs: @exam_catlogs, params: {data_type: 'exam'}} %>
	</div>

      </div>
      <div id="k-tab-daily_report" class="tab-pane fade">
	<table class="table table-hover table-striped classTable">
	  <thead>
	    <tr>
	      <th>Id</th>
	      <th>Date</th>
	      <th>Point</th>
	      <th>Chapter</th>
	      <th>Is Present</th>
	      <th>Is Recover</th>
	    </tr>
	  </thead>
	  <%= render partial: 'students_class', locals: {catlogs: @class_catlogs} %>
	</table>
	<div class="paginationDiv">
	  <%= render partial: 'filter_pagination', locals: {catlogs: @class_catlogs, params: {data_type: 'class'}} %>
	</div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
