<%- if @organisation.master_organisation? %>
  <%= link_to 'Add Course', remaining_cources_organisation_path(@organisation), onclick: "openOrganisationCoursesModal(event, 'Remaining Courses', this, '#{add_remaining_cources_organisation_path(@organisation)}');", class: 'btn btn-primary' %>
<%- end %>
<div>
  <table class="table table-hover standardsTable">
    <thead>
      <tr>
	<th>#</th>
	<th>Select For Sub Organisation</th>
	<th>Courses Name</th>
	<th>Assign To</th>
	<th>Action</th>
	<th>Last Login</th>
      </tr>
    </thead>
    <%- @standards.each_with_index do |standard, index| %>
    <tr>
      <td>
	<%= (((params[:page] || 1).to_i - 1) * 10) + index + 1 %>
      </td>
      <td>
	<%- if standard.is_assigned_to_other == 0 %>
	<input type="checkbox" name="standard" value="<%= standard.id %>">
	<%- end %>
      </td>
      <td>
	<%= standard.std_name %>
      </td>
      <td>
	<%- unless standard.is_assigned_to_other == 0 %>
	  <%= standard.assigned_organisation.name %>
	<%- end %>
	<%# link_to 'Show', subject_path(subject) %>  
      </td>
      <td>
	<%- if standard.is_assigned_to_other == 1 %>
	  <%= link_to "Assign to me", pull_back_standard_organisation_path(@organisation, standard), data: {confirm: "Are you sure?"} %>
	   |  
	   <br /> 
	<%- end %>
	<%- if @organisation.has_children? %>
	  <%= link_to 'Other Sub Organisaiton', descendants_organisation_path(@organisation), onclick: "openSubOrganisaitonsModal(event, 'Assign To', this, '', #{standard.id});", data: {assigned_id: standard.assigned_organisation_id}  %>
	<%- end %>
      </td>
      <td>
	<%- if standard.is_assigned_to_other == 1 &&  standard.assigned_organisation.try(:last_signed_in).present? %>
	  <%= distance_of_time_in_words(standard.assigned_organisation.try(:last_signed_in), Time.now) %> Ago
	<%- elsif standard.is_assigned_to_other ==1 && standard.assigned_organisation.try(:last_signed_in).nil? %>
	    Never
	<%- end %>
      </td>
    </tr>
    <%- end %>
  </table>  
  <%= link_to 'Launch Sub Organisation', launch_sub_organisation_path(@organisation), class: 'btn btn-primary', onclick: "launchSubOrganisation(event, this);" %>
  
</div>
