<% if @org.errors.any? %>
  <p class="alert alert-error red" style="padding:0;margin:0;">Ooops!</p>
  <ul>
    <% @org.errors.each do |key, msg| %>
      <li class="error red"><%= key %> <%=  msg %></li>
    <% end %>
  </ul> 
<% end %>
<div class="textLeft ">
  <%= form_for @org, url: url, method: :post, html:{role: 'form', class: 'form-horizontal'}  do |f| %>
      <%= f.hidden_field :parent_id, value: f.object.parent_id %>
      <%= hidden_field_tag :standards, @standard_ids %>
    <div class="form-group">
      <%= f.label :name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
	<%= f.text_field :name, class: 'form-control col-sm-4' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :email, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
	<%= f.email_field :email, class: 'form-control col-sm-4' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :mobile, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
	<%= f.text_field :mobile, class: 'form-control col-sm-4' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2">
	<%= f.submit 'Save' , class: 'btn btn-primary'%>
	<%= link_to "Cancel", root_path, class: 'btn btn-default' %>
      </div>
    </div>
  <%- end %>
</div>

