    <%- daily_teaching_points.each_with_index do |dtp, index| %> 
    <tr>
      <td>
	<div class="left">
	  dp<%= dtp.id %>
	</div>
      </td>
      <td>
	<div class="left">
	  <%= dtp.date.try(:to_date) %>
	</div>
      </td>
      <td>
	<div class="left">
	  <%= dtp.jkci_class.try(:class_name) %>
	</div>
      </td>
      <td>
	<div class="left">
	  <%= dtp.points %>
	</div>
      </td>
      <td>
	<div class="left">
	  <%= dtp.teacher.try(:name) %>
	</div>
      </td>
      <td>
	<div class="left">
	  <%= link_to 'show', daily_teach_path(dtp) %>  |  
	  <%= link_to 'Edit', edit_jkci_class_daily_teach_path(dtp.jkci_class,dtp) %>
	</div>
      </td>
    </tr>
    <%- end %>

