<div class="textLeft ">
<%= form_for([@jkci_class.id, @daily_teaching_point], url: @daily_teaching_point.new_record? ? jkci_class_daily_teachs_path(@jkci_class) : jkci_class_daily_teach_path(@jkci_class, @daily_teaching_point),  html:{role: 'form', class: 'form-horizontal'}) do |f| %>
  <%= f.hidden_field :jkci_class_id %>
  <div class="form-group">
    <span class="col-sm-2 control-label">Class Name : </span>
    <div class="col-sm-4">
      <%= f.object.jkci_class.class_name %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sub_classes, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.select(:sub_classes , options_from_collection_for_select(@sub_classes, "id", "disp_name", f.object.sub_classes.present? ? f.object.sub_classes.split(',').reject(&:blank?).map(&:to_i) : []), {}, { multiple: true, :max_size =>6, class: 'form-control' }) %>
    </div>
  </div>
  <div class="form-group">
    <span class="col-sm-2 control-label">Date</span>
    <div class="col-sm-4 input-group date" style="padding-left:15px;">
      <input class="form-control" id="datetimepicker_dailyteach" type="text" name="daily_teaching_point[date]">
	<%# f.text_field :date , class: 'form-control', readonly: true, value: "#{ f.object.date.nil? ? (Time.now+ 1.day).strftime('%F %H:%M') : f.object.date.strftime('%F %H:%M')}" %>
        </span>
    </div>
  </div>
  <div class="form-group">
    <span class="col-sm-2 control-label">Chapter</span>
    <div class="col-sm-4">
      <%= f.select :chapter_id, options_from_collection_for_select(@chapters, "id", "name", @daily_teaching_point.chapter_id || @chapters.first.try(:id)), {}, onchange: "selectChaptersPoint(event, this);", class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <span class="col-sm-2 control-label">Chapter' Point</span>
    <div class="col-sm-4">
      <%= f.select :chapters_point_id, options_from_collection_for_select(@chapters_points, "id", "name", @daily_teaching_point.chapters_point_id || @chapters_points.first.try(:id)), {}, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <span class="col-sm-2 control-label">Points</span>
    <div class="col-sm-4">
      <%= f.text_area :points, style: "width:100%" %>
    </div>
  </div>
  <div class="form-group">
    <span class="col-sm-2 control-label">Teacher</span>
    <div class="col-sm-4">
      <%= f.select :teacher_id, options_from_collection_for_select(@teachers, "id", "name", @daily_teaching_point.teacher_id), {}, class: 'form-control', prompt: "Select something" %>
    </div>
  </div>
  
  <div class="col-sm-offset-2 ">
    <%= f.submit 'Save', class: 'btn btn-primary btn-sm', onclick: "return confirm('Are you sure?')" %>
    <%- if params[:jkci_class_id].present? %>
      <%= link_to 'Cancel', jkci_class_path(params[:jkci_class_id]), class: 'btn btn-warning btn-sm'%>
    <%- elsif f.object.id.present? %>
      <%= link_to 'Cancel', daily_teach_path(@daily_teaching_point), class: 'btn btn-warning btn-sm'%>
    <%- else %>
      <%= link_to 'Cancel', daily_teachs_path, class: 'btn btn-warning btn-sm'%>
    <%- end %>
  </div>
<%- end %>

</div>

<script type="text/javascript">
  $(function () {
    $('#datetimepicker_dailyteach').datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
      defaultDate: "<%= @daily_teaching_point.date.try(:to_time) || (Time.now)  %>"
    });
  });
</script>
