<div class="col-sm-12 textLeft dailyTeachStudents">
  <h2 style="<%= 'color:red;' unless @daily_teaching_point.is_fill_catlog.present? %>">Student List</h2>
  <%- if @daily_teaching_point.is_fill_catlog %>
   <%= link_to "select_all", "#", onclick: "selectAllCatlog(this, event);" %>
   <%= link_to "un_select_all", "#", onclick: "unSelectAllCatlog(this, event);" %>
  <%- end %>
  <%- @class_catlogs.each do |class_catlog| %>
    <div style="text-align:left;">
      <%= check_box_tag class_catlog.student.id, class_catlog.student.name, class_catlog.is_present  , disabled: true %> 
    
      <label for="<%= class_catlog.student.id%>" style="display:inline-block;">
	<%= "#{class_catlog.student.name} - #{class_catlog.student.group}  - #{class_catlog.student.std}" %>
      </label>
      <%= ' |  No sms sent ' if (!class_catlog.is_present && !class_catlog.sms_sent) %> 
      <%- if @daily_teaching_point.is_fill_catlog %>
        <%- if !class_catlog.is_present  && class_catlog.is_recover == false %>
          <%= link_to "Recover", recover_daily_teach_path(class_catlog), onclick: "recoverDailyTeach(event, this);" %>
        <%- end %>
      <%- end %>
    
    </div>
  <%- end %>
</div>
