<div id="k-body" class="k-body adminDesk">
  <div class="container">
<div class="col-sm-12">
  
  <div class="textLeft">
    <h3 style="font-size:22px;font-weight:bold;">Points   - <small><%= @daily_teaching_point.points %></small></h3>
    </span>
  </div>
  <div class="textLeft">
    <h3 style="margin-top:5px;">Class: <small><a href="<%= jkci_class_path(@daily_teaching_point.jkci_class) %>"><%= @daily_teaching_point.jkci_class.try(:class_name)%></a></small></h3>
  </div>
  <div class="textLeft">
    <h4>Teacher: <%= @daily_teaching_point.teacher.try(:name) %></h4>
    <h5>Date: &nbsp;
      <span style="font-size:14px;" class="dailyTeachDate">  
	<%= @daily_teaching_point.date.to_date %>
      </span>
    </h5>
  </div>
  <div class="textLeft" style="margin-top:20px;">
    <%- unless @daily_teaching_point.verify_absenty %>
      <%= link_to "Edit", edit_jkci_class_daily_teach_path(@daily_teaching_point.jkci_class, @daily_teaching_point),  class: "btn btn-primary" %>
    <%- end %>
    <%= link_to "Back", jkci_class_path(@daily_teaching_point.jkci_class),  class: "btn btn-primary" %>
  </div>
  <%- if @daily_teaching_point.is_fill_catlog.present? && @daily_teaching_point.is_sms_sent == false && @daily_teaching_point.verify_absenty && current_user.has_role?(:publish_daily_teach_absenty) && @daily_teaching_point.jkci_class.enable_class_sms %>
  <div class="textLeft" style="margin-top:20px;">
    <%= link_to "Send sms", class_absent_sms_path(@daily_teaching_point),  class: "btn btn-primary", onclick: "return confirm('Are you sure?')", :method=> :post %>
  </div>
  <%- end %>
  <%- if @daily_teaching_point.is_fill_catlog.present? && !@daily_teaching_point.verify_absenty && current_user.has_role?(:verify_daily_teach_absenty) %>
    <div class="textLeft" style="margin-top:20px;">
      <%= link_to "Verify Absenty", class_absent_verification_path(@daily_teaching_point),  class: "btn btn-primary", onclick: "return confirm('Are you sure?')" %>
    </div>
  <%- end %>
  <div class="textLeft classCatlog" data-date="<%= @daily_teaching_point.date.to_date %>" data-id="<%= @daily_teaching_point.id %>">
    <%= form_tag("/daily_teach/#{@daily_teaching_point.id}/fill_catlog", method: "post", class: "fillCatlogForm") do %>
      <input name="students_list" type="hidden" value="" class="dtpStudents">
      <input name="date" type="hidden" value="" class="dtpDate">
      <div style="margin-top:20px;">
	<%- if current_user.has_role? :add_daily_teach_absenty %>
	  <%= link_to "Add Absentee", "#", onclick: "editDailyCatlog(event, this);", class:"btn btn-primary editDailyCatlog" %>
	  <%= link_to "Save Save", "#", onclick: "saveDailyCatlog(event, this);", class:"btn btn-primary hide saveDailyCatlog" %>
	  <%= link_to "Cancel", "#", onclick: "cancelClassCatlog(event, this);", class:"btn btn-primary hide cancelSaveClassCatlog" %>
	<%- end %>
      </div>
    <%- end %>
    <%= render partial: "student_catlog" %>
    <%= render partial: "absent_students" %>
    
  </div>
  <div class="textLeft">
    <%- if @exams.present? %>
      <h2>Exams</h2>
      <%- @exams.each_with_index do |exam, index| %>
        <div>
	  <%= index + 1 %> : <%= link_to exam.name, exam_path(exam) %>
        </div>
      <%- end %>
    <%- end %>
  </div>
</div>
  </div>
</div>
