<div id="k-body" class="k-body adminDesk">
  <div class="container">
  <h2>Class</h2>
  <%- if @jkci_classes.present? %>
    <table class="examsTable highlight table table-striped">
      <thead>
        <tr>
    	<th>#</th>
    	<th>Name</th>
    	<th>Divisions</th>
    	<th>Fill Daily Catlog</th>
    	<th>Create Exam</th>
    	<th class="center">Remaining Activities</th>
        </tr>
      </thead>
      <%- @jkci_classes.each_with_index do |jkci_class, index| %>
      <tr>
        <td>
    	<%= index + 1 %>
        </td>
        <td>
    	<%= link_to  jkci_class.class_name, jkci_class_path(jkci_class) %>
        </td>
        <td>
    	<strong><%= link_to  jkci_class.sub_classes.count, jkci_class_path(jkci_class, {divisions: true}) %></strong>
        </td>
        <td>
    	<%- if current_user.has_role? :create_daily_teach %>
    	  <%= link_to "Fill Daily Catlog",  new_jkci_class_daily_teach_path(jkci_class) %>
    	<%- end %>
        </td>
        <td>
    	<%- if current_user.has_role? :create_exam %>
    	  <%= link_to "Create Exam",  new_jkci_class_exam_path(jkci_class) %>
    	<%- end %>
        </td>
        <td align="center" >
    	<strong><%= link_to  jkci_class.role_exam_notifications(current_user).count, jkci_class_path(jkci_class, {notifications: true}) %></strong>
        </td>
      </tr>
      <%- end %>
    </table>
  
  
    <div class="separator-fatty"></div>
    <h2>Exams</h2>
    
    <div class="" style="margin-top:25px;">
      <ul class="nav nav-tabs nav-justified">
        <li class="active">
    	<a href="#k-tab-todays-exams" data-toggle="tab">Today's Exams(<%= @todays_exams.count %>)</a>
        </li>
        <li class="">
    	<a href="#k-tab-unconducted-exams" data-toggle="tab">Unconducted Exams(<%= @unconducted_exams.count %>)</a>
        </li>
        <li class="">
    	<a href="#k-tab-upcomming-exams" data-toggle="tab">Upcomming Exams(<%= @upcomming_exams.count %>)</a>
        </li>
        <li class="">
    	<a href="#k-tab-unpublished-exams" data-toggle="tab">UnPublished Exams(<%= @unpublished_exams.count %>)</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="k-tab-todays-exams" class="tab-pane fade active in">
    	<div class="textLeft">
    	  <table class="table table-striped examsTable highlight">
    	    <thead>
    	      <tr>
    		<th>#</th>
    		<th>Exam Name</th>
    		<th>Class</th>
    		<th>Type</th>
    		<th>Mark</th>
    		<th>Duration</th>
    		<th>Date</th>
    	      </tr>
    	    </thead>
    	    <%= render partial: "exam", locals:{exams: @todays_exams, type: "todays"}%>
    	  </table>
    	</div>
        </div>
        <div id="k-tab-unconducted-exams" class="tab-pane fade">
    	<div class="textLeft">
    	  <table class="table table-striped examsTable highlight">
    	    <thead>
    	      <tr>
    		<th>#</th>
    		<th>Exam Name</th>
    		<th>Class</th>
    		<th>Type</th>
    		<th>Mark</th>
    		<th>Duration</th>
    		<th>Date</th>
    	      </tr>
    	    </thead>
    	    <%= render partial: "exam", locals:{exams: @unconducted_exams, type: "unconducted"}%>
    	  </table>
    	</div>
        </div>
        <div id="k-tab-upcomming-exams" class="tab-pane fade">
    	<div class="textLeft">
    	  <table class="table table-striped examsTable highlight">
    	    <thead>
    	      <tr>
    		<th>#</th>
    		<th style="width:40%;">Exam Name</th>
    		<th>Class</th>
    		<th>Type</th>
    		<th>Mark</th>
    		<th>Duration</th>
    		<th>Date</th>
    	      </tr>
    	    </thead>
    	    <%= render partial: "exam", locals:{exams:  @upcomming_exams, type: "recent"}%>
    	  </table>
    	</div>
        </div>
        <div id="k-tab-unpublished-exams" class="tab-pane fade">
    	<div class="textLeft">
    	  <table class="table table-striped examsTable highlight">
    	    <thead>
    	      <tr>
    		<th>#</th>
    		<th style="width:40%;">Exam Name</th>
    		<th>Class</th>
    		<th>Type</th>
    		<th>Mark</th>
    		<th>Duration</th>
    		<th>Date</th>
    	      </tr>
    	    </thead>
    	    <%= render partial: "exam", locals:{exams:  @unpublished_exams, type: "recent"}%>
    	  </table>
    	</div>
        </div>
      </div>
    </div>
  <%- else %>
    <h3>
      <%= @organisation.standards_name %> 
      <small>standards are assigned to you but you are assigned to other. So you can check class report</small> 
    </h3>
  <%- end %>
    
  <%- if @default_students.present? %>
  <div class="col-sm-12">
    <h2 class="red">Default's Students from more than <%= @organisation.absent_days %> Days</h2>
    <table class="table table-striped examsTable highlight">
      <thead>
	<tr>
	  <th>#</th>
	  <th>Student Name</th>
	  <th>Standard</th>
	  <th>Parent Mobile</th>
	  <th>Default from</th>
	</tr>
      </thead>
      <%- @default_students.each_with_index do |student, index| %>
      <tr>
	<td>
          <%= index + 1 %>
	</td>
	<td>
          <%= link_to student.name, student_path(student) %>
	</td>
	<td>
          <%= student.standard.std_name %>
	</td>
	<td>
	  <%= student.p_mobile %>
	</td>
	<td>
          From <%= distance_of_time_in_words(student.last_present, Time.now) %>
	</td>
      </tr>
      <%- end %>
    </table>
  </div>
  <%- end %>



  <%- if false%>
  <div class="col-sm-6">
    <h2>Class absents</h2>
    <table class="table table-striped examsTable highlight">
      <thead>
	<tr>
	  <th>#</th>
	  <th>Student Name</th>
	  <th>Class</th>
	  <th>Parent Mobile</th>
	  <th>Date</th>
	</tr>
      </thead>
      <%- @class_absents.each_with_index do |class_absent, index| %>
      <tr>
	<td>
          <%= index + 1 %>
	</td>
	<td>
          <%= link_to class_absent.student.name, student_path(class_absent.student) %>
	</td>
	<td>
          <%= link_to  class_absent.jkci_class.class_name, daily_teach_path(class_absent.daily_teaching_point) %>
	</td>
	<td>
	  <%= class_absent.student.p_mobile %>
	</td>
	<td>
          <%= class_absent.created_at.to_date %>
	</td>
	<td>
	  <a href="#" data-href="<%= follow_teach_path(class_absent) %>" onclick="followStudent(event, this);">x</a>
	</td>
      </tr>
      <%- end %>
    </table>
  </div>

  <div class="col-sm-6">
    <h2>Exam absents</h2>
    <table class="table table-striped examsTable highlight">
      <thead>
	<tr>
	  <th>#</th>
	  <th>Student Name</th>
	  <th>Exam</th>
	  <th>Parent Mobile</th>
	  <th>Date</th>
	</tr>
      </thead>
      <%- @exam_absents.each_with_index do |exam_absent, index| %>
      <tr>
	<td>
          <%= index + 1 %>
	</td>
	<td>
          <%= link_to exam_absent.student.name, student_path(exam_absent.student) %>
	</td>
	<td>
          <%= link_to exam_absent.exam.name, exam_path(exam_absent.exam) %>
	</td>
	<td>
	  <%= exam_absent.student.p_mobile %>
	</td>
	<td>
          <%= exam_absent.created_at.to_date %>
	</td>
	<td>
	  <a href="#" data-href="<%= follow_exam_absent_student_path(exam_absent) %>" onclick="followStudent(event, this);">x</a>
	</td>
      </tr>
      <%- end %>
    </table>
  </div>
  <%- end %>
  </div>
</div>
<div id="k-body" class="k-body adminDesk">
  <div class="container">
    <%- if @jkci_classes.present? %>
      <div id='chart' class="col-sm-6" ></div>
      <%= render_chart @chart, 'chart' %>
    <%- end %>
    <%- if @organisation.has_children? %>
      <div id='chart1' class="col-sm-6"></div>
      <%= render_chart @sub_organisaiton_charts, 'chart1' %>
    <%- end %>
  </div>
</div>

