<div id="k-body"><!-- content wrapper -->
  <div class="container"><!-- container -->
    <div class="row"><!-- row -->
      <div id="k-top-search" class="col-lg-12 clearfix"><!-- top search -->
        <form action="#" id="top-searchform" method="get" role="search">
          <div class="input-group">
            <input type="text" name="s" id="sitesearch" class="form-control" autocomplete="off" placeholder="Type in keyword(s) then hit Enter on keyboard">
          </div>
        </form>
        <div id="bt-toggle-search" class="search-icon text-center"><i class="s-open fa fa-search"></i><i class="s-close fa fa-times"></i></div><!-- toggle search button -->
      </div><!-- top search end -->
      <div class="k-breadcrumbs col-lg-12 clearfix"><!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li class="active">We Provides</li>
        </ol>
      </div><!-- breadcrumbs end -->               
    </div><!-- row end -->
    <div class="row no-gutter"><!-- row -->
      <div class="col-lg-8 col-md-8"><!-- doc body wrapper -->
        <div class="col-padded"><!-- inner custom column -->
          <div class="row gutter"><!-- row -->
            <div class="k-article-summary col-lg-12 col-md-12">
              <figure class="news-featured-image">
		<div class="col-lg-4">
                  <img src="<%= HOSTEL_IMG %>" alt="Library" class="img-responsive">
		</div>
		<div class="col-lg-8">
		  <h1 class="page-title">24 HOURS RESIDENCE TEACHERS</h1>
		  <p>
		    
                  </p>
		</div>
              </figure>
              <div class="news-body">
                <p>
                </p>
              </div>
            </div>
	    <div class="k-article-summary col-lg-12 col-md-12">
              <figure class="news-featured-image">
		<div class="col-lg-4">
                  <img src="<%= PROGRESS_IMG %>" alt="Library" class="img-responsive">
		</div>
		<div class="col-lg-8">
		  <h1 class="page-title">DAILY PROGRESS REPORT / TRACK REPORT</h1>
		</div>
              </figure>
              <div class="news-body">
                <p>
                </p>
              </div>
            </div>
	    <div class="k-article-summary col-lg-12 col-md-12">
              <figure class="news-featured-image">
		<div class="col-lg-4">
                  <img src="<%= DAILY_DOUBTS_IMG %>" alt="Daily Doubts" class="img-responsive" style="width:100%;">
		</div>
		<div class="col-lg-8">
		  <h1 class="page-title">Daily Doubt Session In Evening</h1>
		</div>
              </figure>
              <div class="news-body">
                <p>
                </p>
              </div>
            </div>
	    <div class="k-article-summary col-lg-12 col-md-12">
              <figure class="news-featured-image">
		<div class="col-lg-4">
                  <img src="<%= LIBRARY_IMG %>" alt="Library" class="img-responsive" style="width:100%;">
		</div>
		<div class="col-lg-8">
		  <h1 class="page-title">24 Hours Library</h1>
		</div>
              </figure>
              <div class="news-body">
                <p>
                </p>
              </div>
            </div>
	    <div class="k-article-summary col-lg-12 col-md-12">
              <figure class="news-featured-image">
		<div class="col-lg-4">
                  <img src="<%= HOSTEL_IMG %>" alt="Student Residence Facility" class="img-responsive">
		</div>
		<div class="col-lg-8">
		  <h1 class="page-title">Student Residence Facility</h1>
		</div>
              </figure>
              <div class="news-body">
                <p>
                </p>
              </div>
            </div>
	    <div class="k-article-summary col-lg-12 col-md-12">
              <figure class="news-featured-image">
		<div class="col-lg-4">
                  <img src="<%= HOSTEL_IMG %>" alt="Restricted Internet Library" class="img-responsive">
		</div>
		<div class="col-lg-8">
		  <h1 class="page-title">Restricted Internet Library</h1>
		</div>
              </figure>
              <div class="news-body">
                <p>
                </p>
              </div>
            </div>
	    <div class="k-article-summary col-lg-12 col-md-12">
              <figure class="news-featured-image">
		<div class="col-lg-4">
                  <img src="<%= HOSTEL_IMG %>" alt="Medical Aid" class="img-responsive">
		</div>
		<div class="col-lg-8">
		  <h1 class="page-title">Medical Aid</h1>
		</div>
              </figure>
              <div class="news-body">
                <p>
                </p>
              </div>
            </div>
	    <div class="k-article-summary col-lg-12 col-md-12">
              <figure class="news-featured-image">
		<div class="col-lg-4">
                  <img src="<%= HOSTEL_IMG %>" alt="Amphitheatre" class="img-responsive">
		</div>
		<div class="col-lg-8">
		  <h1 class="page-title">Amphitheatre</h1>
		  <p>
		    JKSAI provides a small open air amphitheatre to give the children the scope to display their talents and also to develop confidence among them to face a competitive world
		  </p>
		</div>
              </figure>
              <div class="news-body">
                <p>
                </p>
              </div>
            </div>
	    <div class="k-article-summary col-lg-12 col-md-12">
              <figure class="news-featured-image">
		<div class="col-lg-4">
                  <img src="<%= SECURITY_IMG %>" alt="Security" class="img-responsive">
		</div>
		<div class="col-lg-8">
		  <h1 class="page-title">Security</h1>
		  <p>
		    JKSAI provides high boundary wall equipped with additional fencing all around.
		    24 X 7 surveillance with CCTV. Proper installation of fire fighting equipments 
		    and earthquake resistant buildings.
		  </p>
		</div>
              </figure>
            </div>
	    <div class="k-article-summary col-lg-12 col-md-12">
              <figure class="news-featured-image">
		<div class="col-lg-4">
                  <img src="<%= MESS_IMG %>" alt="Kitchen" class="img-responsive">
		</div>
		<div class="col-lg-8">
		  <h1 class="page-title">Kitchen</h1>
		  <p>
		    JKSAI provides well-equipped with modern amenities to provide a variety of cuisines. 
		    Designed to cater to personal choice with respect shown to various cultures.
		    Menu prepared with the advice of a dietician for a balanced and nutritious diet.
		  </p>
		</div>
              </figure>
              <div class="news-body">
                <p>
                </p>
              </div>
            </div>
	    <div class="k-article-summary col-lg-12 col-md-12">
              <figure class="news-featured-image">
		<div class="col-lg-4">
                  <img src="<%= HOSTEL_IMG %>" alt="Dining Hall" class="img-responsive">
		</div>
		<div class="col-lg-8">
		  <h1 class="page-title">Dining Hall</h1>
		  <p>
		    JKSAI provides spacious and airy dining hall with a capacity for 85 peoples.
		    In-house faculty keeps an eye on the social graces.
		  </p>
		</div>
              </figure>
              <div class="news-body">
                <p>
                </p>
              </div>
            </div>
	    <div class="k-article-summary col-lg-12 col-md-12">
              <figure class="news-featured-image">
		<div class="col-lg-4">
                  <img src="<%= HOSTEL_IMG %>" alt="Water Filtration" class="img-responsive">
		</div>
		<div class="col-lg-8">
		  <h1 class="page-title">Water Filtration</h1>
		  <p>
		    A modern, inbuilt Water Filtration Plant to ensure 100% safe drinking water.
		  </p>
		</div>
              </figure>
              <div class="news-body">
                <p>
                </p>
              </div>
            </div>
	    <div class="k-article-summary col-lg-12 col-md-12">
              <figure class="news-featured-image">
		<div class="col-lg-4">
                  <img src="<%= GYM_IMG %>" alt="Gymnasium" class="img-responsive">
		</div>
		<div class="col-lg-8">
		  <h1 class="page-title">Gymnasium</h1>
		  <p>
		    The gymnasium has about twenty types of equipment for different types of exercises, 
		    including the automated treadmill. The gymnasium is being used by under the guidance of the 
		    specialist sports teachers. The facility used in parallel to the other games and sports 
		    opportunities during the games time.
		  </p>
		</div>
              </figure>
              <div class="news-body">
                <p>
                </p>
              </div>
            </div>
	    <div class="k-article-summary col-lg-12 col-md-12">
              <figure class="news-featured-image">
		<div class="col-lg-4">
                  <img src="<%= YOGA_IMG %>" alt="Yoga Session" class="img-responsive">
		</div>
		<div class="col-lg-8">
		  <h1 class="page-title">Yoga Session</h1>
		</div>
              </figure>
              <div class="news-body">
                <p>
                </p>
              </div>
            </div>
	    <div class="k-article-summary col-lg-12 col-md-12">
              <figure class="news-featured-image">
		<div class="col-lg-4">
                  <img src="<%= YOGA_IMG %>" alt="Student Counselling" class="img-responsive">
		</div>
		<div class="col-lg-8">
		  <h1 class="page-title">Student Counselling form Renowned person</h1>
		</div>
              </figure>
              <div class="news-body">
                <p>
                </p>
              </div>
            </div>
          </div><!-- row end -->  
        </div><!-- inner custom column end -->
      </div><!-- doc body wrapper end -->
      <%= render partial: 'layouts/side_menu' %>
    </div><!-- row end -->
  </div><!-- container end -->
</div>
