<div class="batchResult_<%= result.id %>" data-id="<%= result.id %>">
  <img src="<%= result.student_image %>" />
  <i class="fa fa-times removeBatchResult" onClick="removeBatchResult(event, this);"></i>
  <i class="fa fa-edit editBatchResult" data-href="<%= edit_result_path(result) %>"  onClick="editBatchResult(event, this);"></i>
  <span><%= result.name %></span>
</div>
