<div id="k-body"><!-- content wrapper -->
  <div class="container"><!-- container -->
    <div class="row"><!-- row -->
      <div id="k-top-search" class="col-lg-12 clearfix"><!-- top search -->
        <form action="#" id="top-searchform" method="get" role="search">
          <div class="input-group">
            <input type="text" name="s" id="sitesearch" class="form-control" autocomplete="off" placeholder="Type in keyword(s) then hit Enter on keyboard">
          </div>
        </form>
        <div id="bt-toggle-search" class="search-icon text-center">
	  <i class="s-open fa fa-search"></i><i class="s-close fa fa-times"></i>
	</div><!-- toggle search button -->
      </div><!-- top search end -->
      <div class="k-breadcrumbs col-lg-12 clearfix"><!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">Results</li>
        </ol>
      </div><!-- breadcrumbs end -->               
    </div><!-- row end -->
    <div class="row no-gutter"><!-- row -->
      <div class="col-lg-8 col-md-8"><!-- doc body wrapper -->
        <div class="col-padded"><!-- inner custom column -->
          <div class="row gutter"><!-- row -->
            <div class="col-lg-12 col-md-12">
              <h1 class="page-title">Results</h1><!-- category title -->
              <div class="category-description"><!-- category description -->
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit. In pretium vulputate scelerisque. Nulla in
                  suscipit risus. Nullam pulvinar augue in risus
                  luctus, sed dapibus ipsum mattis.
                </p>
              </div>
            </div>
          </div><!-- row end -->
          <div class="row gutter k-equal-height"><!-- row -->
	    <%- @results.each do |result| %>
              <div class="news-mini-wrap col-lg-6 col-md-6"><!-- news mini-wrap -->
		<figure class="news-featured-image">
                  <img src="<%= result.cover_img %>" alt="<%= result.title %>" class="img-responsive">
		</figure>
		<div class="page-title-meta">
                  <h1 class="page-title">
		    <a href="#" title="Cody Rotschild enjoys...">
		      <%= result.title %>
		    </a>
		  </h1>
                  <div class="news-meta">
                    <span class="news-meta-date red">
		      <a href="<%= result_path(result) %>"><%= result.batch %></a>
		    </span>
                    <span class="news-meta-comments">
		      <%= result.id %>
		    </span>
                  </div>
		</div>
		<div class="news-summary">
                  <p>
		    <%= result.description.truncate(100) %>
                  </p>
		</div>
              </div><!-- news mini-wrap end -->
	    <%- end %>
          </div><!-- row end -->
          <div class="row gutter"><!-- row -->
            <div class="col-lg-12">
              <ul class="pagination pull-right"><!-- pagination -->
                <li class="disabled"><a href="#">Prev</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">Next</a></li>
              </ul><!-- pagination end -->
            </div>
          </div><!-- row end -->
        </div><!-- inner custom column end -->
      </div><!-- doc body wrapper end -->
      <%= render partial: 'layouts/side_menu' %>
    </div><!-- row end -->
  </div><!-- container end -->
</div>
