<div id="k-body"><!-- content wrapper -->
  <div class="container"><!-- container -->
    <div class="row"><!-- row -->
      <div class="k-breadcrumbs col-lg-12 clearfix"><!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="<%= root_path %>">Home</a></li>
          <li><a href="<%= events_path %>">Events</a></li>
          <li class="active"><%= @event.name %></li>
        </ol>
      </div><!-- breadcrumbs end -->               
    </div><!-- row end -->
    <div class="row no-gutter"><!-- row -->
      <div class="col-lg-8 col-md-8"><!-- doc body wrapper -->
        <div class="col-padded"><!-- inner custom column -->
          <div class="row gutter"><!-- row -->
            <div class="col-lg-12 col-md-12">
              <div class="events-title-meta clearfix">
                <h1 class="page-title"><%= @event.name %></h1>
                <div class="event-meta">
                  <span class="event-from"><%= @event.start_date %></span>
		  <%- unless @event.is_single_day %>
                  <span class="event-divider">to</span>
                  <span class="event-to"><%= @event.end_date %></span>
		  <%- end %>
		  <%- if @event.time.present? %>
                    <span class="event-time"><%= @event.time %></span>
		  <%- end %>
                </div>
              </div>
              <div class="news-body clearfix">
                <p>
                  <%= @event.description %>
                </p>
                <hr />
		<%- if @event.sub_events.present? %>
                <h6>Programme</h6>
                <p>
                  Aenean eu sem non diam iaculis gravida. Nam imperdiet eleifend <strong>erat ut viverra</strong>. Fusce vitae ultrices tortor, tincidunt consectetur purus. Donec ut suscipit nisi. Ut vitae venenatis dolor. Phasellus volutpat sapien sit amet tellus gravida, nec dignissim elit congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus leo magna, condimentum vitae feugiat id, lobortis et nibh. 
                </p>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Event</th>
                      <th>Schedule</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>consectetur pulvinar</td>
                      <td>16:00 - 17:00</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>metus pellentesque</td>
                      <td>17:15 - 17:30</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>varius elit</td>
                      <td>17:30 - 18:00</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>porttitor tempor</td>
                      <td>18:00 - 20:00</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>suscipit ligula</td>
                      <td>20:00 - 21:00</td>
                    </tr>
                  </tbody>
                </table>
		<%- end %>
              </div>
            </div>
          </div><!-- row end -->               
        </div><!-- inner custom column end -->
      </div><!-- doc body wrapper end -->
      <div id="k-sidebar" class="col-lg-4 col-md-4"><!-- sidebar wrapper -->
        <div class="col-padded col-shaded"><!-- inner custom column -->
          <ul class="list-unstyled clear-margins"><!-- widgets -->
            <li class="widget-container widget_nav_menu"><!-- widget -->
              <h1 class="title-widget">Useful links</h1>
              <ul>
                <li><a href="#" title="menu item">News Archive</a></li>
                <li><a href="#" title="menu item">Tradition of School Events</a></li>
                <li><a href="#" title="menu item">Report Asocial Behaviour</a></li>
                <li><a href="#" title="menu item">Trends and Tips</a></li>
                <li><a href="#" title="menu item">Events Poll</a></li>
              </ul>
	    </li>
            <li class="widget-container widget_recent_news"><!-- widgets list -->
              <h1 class="title-widget">School News</h1>
              <ul class="list-unstyled">
		<li class="recent-news-wrap news-no-summary">
                  <div class="recent-news-content clearfix">
                    <figure class="recent-news-thumb">
                      <a href="#" title="Megan Boyle flourishes..."><img src="img/recent-news-thumb-1.jpg" class="attachment-thumbnail wp-post-image" alt="Thumbnail 1" /></a>
                    </figure>
                    <div class="recent-news-text">
                      <div class="recent-news-meta">
                        <div class="recent-news-date">Jun 12, 2014</div>
                      </div>
                      <h1 class="title-median"><a href="#" title="Megan Boyle flourishes...">Megan Boyle flourishes at Boston University</a></h1>
                    </div>
                  </div>
                </li>
		<li class="recent-news-wrap news-no-summary">
                  <div class="recent-news-content clearfix">
                    <figure class="recent-news-thumb">
                      <a href="#" title="Buntington Alum..."><img src="img/recent-news-thumb-2.jpg" class="attachment-thumbnail wp-post-image" alt="Thumbnail 2" /></a>
                    </figure>
                    <div class="recent-news-text">
                      <div class="recent-news-meta">
                        <div class="recent-news-date">Jun 10, 2014</div>
                      </div>
                      <h1 class="title-median"><a href="#" title="Buntington Alum...">Buntington Alum Marc Bloom Pens New Book</a></h1>
                    </div>
                  </div>
                </li>
		<li class="recent-news-wrap news-no-summary">
                  <div class="recent-news-content clearfix">
                    <figure class="recent-news-thumb">
                      <a href="#" title="Cody Rotschild Enjoys..."><img src="img/recent-news-thumb-3.jpg" class="attachment-thumbnail wp-post-image" alt="Thumbnail 3" /></a>
                    </figure>
                    <div class="recent-news-text">
                      <div class="recent-news-meta">
                        <div class="recent-news-date">Jun 05, 2014</div>
                      </div>
                      <h1 class="title-median"><a href="#" title="Cody Rotschild Enjoys...">Cody Rotschild Enjoys Life in Montreal</a></h1>
                    </div>
                  </div>
                </li>
              </ul>
            </li><!-- widgets list end -->
            <li class="widget-container widget_newsletter"><!-- widget -->
              <h1 class="title-titan">School Newsletter</h1>
              <form role="search" method="get" class="newsletter-form" action="#">
                <div class="input-group">
                  <input type="text" placeholder="Your e-mail address" autocomplete="off" class="form-control newsletter-form-input" name="email" />
                  <span class="input-group-btn"><button type="submit" class="btn btn-default">GO!</button></span>
                </div>
                <span class="help-block">* Enter your e-mail address to subscribe.</span>
              </form>
            </li>
            <li class="widget-container widget_text"><!-- widget -->
              <a href="#" class="custom-button cb-red" title="How to apply?">
                <i class="custom-button-icon fa fa-empire"></i>
                <span class="custom-button-wrap">
                  <span class="custom-button-title">Donate Now</span>
                  <span class="custom-button-tagline">Become a corporate sponsor of our schools!</span>
                </span>
                <em></em>
              </a>
            </li>
          </ul><!-- widgets end -->
        </div><!-- inner custom column end -->
      </div><!-- sidebar wrapper end -->
    </div><!-- row end -->
  </div><!-- container end -->
</div><!-- content wrapper end -->

