<div id="k-body"><!-- content wrapper -->
  <div class="container"><!-- container -->
    <div class="row"><!-- row -->
      <div class="k-breadcrumbs col-lg-12 clearfix"><!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="<%= root_path %>">Home</a></li>
          <li><a href="<%= events_path %>">Events</a></li>
          <li class="active"><%= @event.name %></li>
        </ol>
      </div><!-- breadcrumbs end -->               
    </div><!-- row end -->
    <div class="row no-gutter"><!-- row -->
      <div class="col-lg-8 col-md-8"><!-- doc body wrapper -->
        <div class="col-padded"><!-- inner custom column -->
          <div class="row gutter"><!-- row -->
            <div class="col-lg-12 col-md-12">
              <div class="events-title-meta clearfix">
                <h1 class="page-title"><%= @event.name %></h1>
                <div class="event-meta">
                  <span class="event-from"><%= @event.start_date %></span>
		  <%- unless @event.is_single_day %>
                  <span class="event-divider">to</span>
                  <span class="event-to"><%= @event.end_date %></span>
		  <%- end %>
		  <%- if @event.time.present? %>
                    <span class="event-time"><%= @event.time %></span>
		  <%- end %>
                </div>
              </div>
              <div class="news-body clearfix">
                <p>
                  <%= @event.description %>
                </p>
                <hr />
		<%- if @event.sub_events.present? %>
                <h6>Programme</h6>
                <p>
                  Aenean eu sem non diam iaculis gravida. Nam imperdiet eleifend <strong>erat ut viverra</strong>. Fusce vitae ultrices tortor, tincidunt consectetur purus. Donec ut suscipit nisi. Ut vitae venenatis dolor. Phasellus volutpat sapien sit amet tellus gravida, nec dignissim elit congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus leo magna, condimentum vitae feugiat id, lobortis et nibh. 
                </p>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Event</th>
                      <th>Schedule</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>consectetur pulvinar</td>
                      <td>16:00 - 17:00</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>metus pellentesque</td>
                      <td>17:15 - 17:30</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>varius elit</td>
                      <td>17:30 - 18:00</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>porttitor tempor</td>
                      <td>18:00 - 20:00</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>suscipit ligula</td>
                      <td>20:00 - 21:00</td>
                    </tr>
                  </tbody>
                </table>
		<%- end %>
              </div>
            </div>
          </div><!-- row end -->               
        </div><!-- inner custom column end -->
      </div><!-- doc body wrapper end -->
      <%= render partial: 'layouts/side_menu' %>
    </div><!-- row end -->
  </div><!-- container end -->
</div><!-- content wrapper end -->

