<%- class_catlogs.each_with_index do |catlog, index| %>
  <tr class="<%= parentStudentCatlog(catlog) %>">
    <td>
      <%= index + 1 %>
    </td>
    <td>
      <%= catlog.date %>
    </td>
    <td>
      <%= catlog.jkci_class.class_name %>
    </td>
    <td>
      <%= catlog.daily_teaching_point.chapter_id %>
    </td>
    <td>
      <%= catlog.daily_teaching_point.points %>
    </td>
    <td>
      <%= catlog.is_present %>
    </td>
    <td>
      <%= catlog.is_recover %>
    </td>
    <td>
      <%= catlog.daily_teaching_point.exams.count %>
    </td>
  </tr>
<%- end %>

