<div class="textLeft ">
  <%= form_for @meeting, url: parents_meeting_index_path, html:{role: 'form', class: 'form-horizontal'} do |f| %>
  <div class="form-group">
    <%= f.label :aganda, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :agenda, class: 'form-control col-sm-4' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <div class='input-group date' id='datetimepicker1' data-date-format="YYYY-MM-DD HH:MM">
	<input class="form-control" type="text" name="parents_meeting[date]" id="datetimepicker_parentmeeting">
	<%# f.text_field :date , class: 'form-control', readonly: true, value: "#{ f.object.date.nil? ? (Time.now+ 1.week).strftime('%F %H:%M') : f.object.date.strftime('%F %H:%M')}" %>
        </span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :contact_person, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :contact_person, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :batch_id, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.select(:batch_id , options_from_collection_for_select(@batches, "id", "name", f.object.batch_id),{}, class: 'form-control') %>
    </div>
  </div>
  <div class="form-group" style="margin-top:10px;">
    <div class="col-sm-offset-2">
      <%= f.submit 'Save' , class: 'btn btn-primary'%>
      <%= link_to "Cancel", parents_meeting_index_path, class: 'btn btn-default' %>

    </div>
  </div>
  <%- end %>
</div>
  <script type="text/javascript">
    $(function () {
    $("#datetimepicker_parentmeeting").datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
      defaultDate: "<%= @meeting.date.try(:to_time) || (Time.now + 1.day)  %>"
    });
    });
  </script>
