<div id="k-body" class="k-body adminDesk">
  <div class="container">
<div>
  <%= link_to "Check balance", ""%>
</div>
<div>
  
  <%- @sms_logs.each do |sms_log| %>
  <div>
    <%= sms_log.number %> -- <%= sms_log.obj_type %> -- <%= sms_log.message %> -- <%= 'parent sent' if sms_log.is_parent %>
  </div>
  <%- end %>
</div>
</div>
</div>
