<div class="textLeft ">
  <%= form_for @subject, html:{role: 'form', class: 'form-horizontal'}  do |f| %>
    <div class="form-group">
      <%= f.label :name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
	<%= f.text_field :name, class: 'form-control col-sm-4' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2">
	<%= f.submit 'Save' , class: 'btn btn-primary'%>
	<%= link_to "Cancel", standard_path(@subject.standard), class: 'btn btn-default' %>
      </div>
    </div>
  <%- end %>
</div>
