<div id="k-body" class="k-body adminDesk">
  <div class="container">
    <div class="col-sm-12 textLeft">
      <h2>Subject</h2>
      <div class="col-sm-12">
	<p>&nbsp;</p>
	<div class="col-sm-12">
	  <h5>
	    <small class="col-sm-2">Name :</small> 
	    <span style="font-size:20px;"><%= @subject.std_name %></span>
	  </h5>
	</div>
      </div>
      <div class="col-sm-12">
	<%= link_to "Back", subjects_path, class: "btn btn-primary" %>
      </div>
    </div>

    <div class="col-sm-12 textLeft">
      <h2>Chapters</h2>
      <%- if current_user.has_role? :admin%>
        <%= link_to 'New Chapter', new_chapter_path(subject_id: @subject.id), class: 'btn btn-primary' %>
      <%- end %>
      <div>
	<table class="table table-hover studentsTable">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Name</th>
	      <th>Std</th>
	      <th>Actions</th>
	    </tr>
	  </thead>
	  <%= render partial: 'chapters/chapter', locals: {chapters: @chapters}%>
	</table>
	<div class="paginationDiv">
	  <%= render partial: 'chapters/pagination', locals: {chapters: @chapters} %>
	</div>
      </div>
    </div>
  </div>
</div>
