<%- chapters.each do |chapter| %>
<tr>
  <td>
    <%= chapter.chapt_no %>
  </td>
  <td>
    <%= chapter.name %>
  </td>
  <td>
    <%= chapter.subject.std_name %>
  </td>
  <td>
    <%= link_to "Show", chapter_path(chapter)%> 
    <%- if current_user.has_role? :admin%>
    | 
    <%= link_to "Edit", edit_chapter_path(chapter) %>
    <%- end %>
  </td>
</tr>
<%- end %>
