<%- chapters.each do |chapter| %>
<tr>
  <td>
    <%= chapter.chapt_no %>
  </td>
  <td>
    <%= chapter.name %>
  </td>
  <td>
    <%= chapter.subject.std_name %>
  </td>
  <td>
    <%= link_to "Show", chapter_path(chapter)%> | 
    <%= link_to "Edit", edit_chapter_path(chapter) %>
  </td>
</tr>
<%- end %>
