<div id="k-body"><!-- content wrapper -->
  <div class="container"><!-- container -->
    <div class="row"><!-- row -->
      <div id="k-top-search" class="col-lg-12 clearfix"><!-- top search -->
        <form action="#" id="top-searchform" method="get" role="search">
          <div class="input-group">
            <input type="text" name="s" id="sitesearch" class="form-control" autocomplete="off" placeholder="Type in keyword(s) then hit Enter on keyboard">
          </div>
        </form>
        <div id="bt-toggle-search" class="search-icon text-center"><i class="s-open fa fa-search"></i><i class="s-close fa fa-times"></i></div><!-- toggle search button -->
      </div><!-- top search end -->
      <div class="k-breadcrumbs col-lg-12 clearfix"><!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="<%= root_path %>">Home</a></li>
          <li class="active">Gallery</li>
        </ol>
      </div><!-- breadcrumbs end -->               
    </div><!-- row end -->
    <div class="row no-gutter"><!-- row -->
      <div class="col-lg-8 col-md-8"><!-- doc body wrapper -->
        <div class="col-padded"><!-- inner custom column -->
          <div class="row gutter"><!-- row -->
            <div class="col-lg-12 col-md-12">
              <h1 class="page-title">Galleries</h1><!-- category title -->
            </div>
          </div><!-- row end -->
          <div class="row gutter"><!-- row -->
            <div class="col-lg-12 col-md-12">
	      <%- @albums.each do |album| %>
	      <%- if album.galleries.count > 0 %>
                <div class="gallery-wrapper"><!-- gallery single wrap -->
                  <figure class="gallery-last-photo clearfix">
                    <a href="<%= gallery_path(album.id) %>" title="<%= album.name %>"  data-no-turbolink="true">
		      <img src="<%= album.cover_image %>" alt="Leading photo">
		    </a>
                  </figure>
                  <div class="gallery-info">
                    <span class="gallery-photos-num"><%= album.galleries.count %></span>
                    <span class="gallery-photos-tag">photos</span>
                  </div>
                  <div class="gallery-meta">
                    <h1 class="gallery-title">
		      <a href="<%= gallery_path(album.id) %>" title="Gallery 01" data-no-turbolink="true"><%= album.name %></a>
		    </h1>
                    <p class="gallery-description">
	              <%= album.description %>
	            </p>
                  </div>
                </div><!-- gallery single wrap end -->
		<%- end %>
	      <%- end %>
              
            </div>
          </div><!-- row end -->
          <div class="row gutter"><!-- row -->
            <div class="col-lg-12">
	      <%= paginate @albums, theme: 'default_pagination' %>
            </div>
          </div><!-- row end -->
        </div><!-- inner custom column end -->
      </div><!-- doc body wrapper end -->
      <%= render partial: 'layouts/side_menu' %>
    </div>
  </div><!-- container end -->
</div>
