<div id="k-body"><!-- content wrapper -->
  <div class="container"><!-- container -->
    <div class="row"><!-- row -->
      <div id="k-top-search" class="col-lg-12 clearfix"><!-- top search -->
        <form action="#" id="top-searchform" method="get" role="search">
          <div class="input-group">
            <input type="text" name="s" id="sitesearch" class="form-control" autocomplete="off" placeholder="Type in keyword(s) then hit Enter on keyboard">
          </div>
        </form>
        <div id="bt-toggle-search" class="search-icon text-center">
	  <i class="s-open fa fa-search"></i><i class="s-close fa fa-times"></i>
	</div><!-- toggle search button -->
      </div><!-- top search end -->
      <div class="k-breadcrumbs col-lg-12 clearfix"><!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="<%= root_path %>">Home</a></li>
          <li><a href="<%= galleries_path %>">Gallery</a></li>
          <li class="active"><%= @album.name %></li>
        </ol>
      </div><!-- breadcrumbs end -->               
    </div><!-- row end -->
    <div class="row no-gutter fullwidth"><!-- row -->
      <div class="col-lg-12 col-md-12"><!-- doc body wrapper -->
        <div class="col-padded"><!-- inner custom column -->
          <h1 class="page-title"><%= @album.name %> <span class="label label-info"><%= @album.galleries.count %> photos</span></h1>
          <div class="news-body">
            <div class="row gutter k-equal-height"><!-- row -->
	      <%- @album.galleries.each do |image| %>
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <figure class="gallery-photo-thumb">
                    <a href="<%= image.image.url(:hunt_img) %>" title="<%= @album.name %> Images" data-fancybox-group="gallery-bssb" class="fancybox">
		      <img src="<%= image.image.url(:hunt_img) %>" alt="Image 1">
		    </a>
                  </figure>
                  <div class="gallery-photo-description">
                    Lorem ipsum dolor sit amet
                  </div>
                </div>
		<%- end %>
            </div><!-- row end -->
          </div>
        </div><!-- inner custom column end -->
      </div><!-- doc body wrapper end -->
    </div><!-- row end -->
  </div><!-- container end -->
</div>
