<%- exams.each_with_index do |exam, index| %>
  <tr class="<%= checkExam(exam)  %>">
    <td>
      cx<%= exam.id %>
    </td>
    <td>
      <%= exam.name %>
    </td>
    <td>
      <%= exam.marks %>
    </td>
    <td>
      <%= exam.exam_date.to_date %>
    </td>
    <td>
      <%= exam.subject.try(:name) %>
    </td>
    <td>
      <%= exam.exam_type %>
    </td>
    <td>
      <%= exam.exam_status %>
    </td>
    <td>
      <%= exam.published_date.try(&:to_date) %>
    </td>
    <td>
      <%= exam.ignored_count %>
    </td>
    <td>
      <%= link_to 'Show', exam_path(exam) %>  |  
      <%- unless defined?(hide_edit) || exam.is_completed || exam.create_verification %>
      <%= link_to 'Edit', edit_jkci_class_exam_path(exam.jkci_class, exam) %>
      <%- end %>
    </td>
  </tr>
<%- end %>
