<% if @exam.errors.any? %>
  <p class="alert alert-error red" style="padding:0;margin:0;">Ooops!</p>
  <ul>
    <% @exam.errors.each do |key, msg| %>
      <li class="error red"><%= key %> <%=  msg %></li>
    <% end %>
  </ul> 
<% end %>
<div class="textLeft ">
<%= form_for [@jkci_class, @exam], html:{role: 'form', class: 'form-horizontal'} do |f| %>
  <%- if f.object.daily_teaching_points.present? %>
   <%= f.hidden_field  :jkci_class_id, value: f.object.jkci_class_id %>
   <%= f.hidden_field  :daily_teaching_points, value: f.object.daily_teaching_points %>
  <%- end %>
  <%= f.hidden_field  :is_group, value: f.object.is_group %>
  <%- unless @exam.root? %>
    <%= f.hidden_field  :jkci_class_id, value: f.object.jkci_class_id %>
    <%= f.hidden_field  :ancestry, value: f.object.ancestry %>
  <%- end %>
  
  <div class="form-group">
    <%= f.label 'Class', class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= @jkci_class.class_name %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :divisions, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.select(:sub_classes , options_from_collection_for_select(@sub_classes, "id", "disp_name", f.object.sub_classes.present? ? f.object.sub_classes.split(',').reject(&:blank?).map(&:to_i) : []), {}, { multiple: true, :max_size =>6, class: 'form-control' }) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :name, class: 'form-control col-sm-4' %>
    </div>
  </div>
  <%- if @exam.is_group == false %>
  <div class="form-group">
    <%= f.label :subject, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.select(:subject_id , options_from_collection_for_select(@subjects, "id", "std_name", f.object.subject_id), {}, class: "form-control") %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :conducted_by, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :conducted_by, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :marks, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :marks, class: 'form-control', onkeypress:"return event.charCode >= 48 && event.charCode <= 57;" %>
    </div>
  </div>
  <%- end %>
  <div class="form-group">
    <%= f.label :exam_date, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <div class='input-group date' >
	<%= f.text_field :exam_date, value: '',  class: 'form-control', id: "datetimepicker_examdate", onkeypress:"return false" %>
      </div>
    </div>
  </div>
  <%- if @exam.is_group == false %>
  <div class="form-group">
    <%= f.label :duration, 'Duration In min', class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :duration, class: 'form-control', onkeypress:"return event.charCode >= 48 && event.charCode <= 57;" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :exam_type, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.select :exam_type , options_for_select([ "Subjective", "Objective" ], "Subjective"), {}, class: 'form-control' %>
    </div>
  </div>
  <%- end %>
  <div class="form-group">
    <%= f.label :remark, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :remark, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :is_result_decleared, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.check_box :is_result_decleared, class: 'form-control', disabled: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :is_completed, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.check_box :is_completed, class: 'form-control', disabled: true %>
    </div>
  </div>
  <div class="form-group" style="margin-top:10px;">
    <div class="col-sm-offset-2">
      <%= f.submit 'Save' , class: 'btn btn-primary'%>
      <%- if params[:jkci_class_id].present? %>
      <%= link_to "Cancel", jkci_class_path(params[:jkci_class_id]), class: 'btn btn-default' %>
      <%- elsif f.object.id.present? %>
        <%= link_to "Cancel", exam_path(@exam), class: 'btn btn-default' %>
      <%- else %>
      <%= link_to "Cancel", exams_path, class: 'btn btn-default' %>
      <%- end %>
    </div>
  </div>
<%- end %>
<script type="text/javascript">
  $(function () {
    $('#datetimepicker_examdate').datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
      defaultDate: "<%= @exam.exam_date.try(:to_time).try(:strftime, '%Y-%m-%dT%H:%M') || (Time.now + 1.day).strftime('%Y-%m-%dT%H:%M')  %>"
    });
  });
</script>
