<div id="k-body" class="k-body adminDesk">
  <div class="container">
<h2><%= @exam.name %></h2>
<div class="col-sm-12 textLeft">
  <div class="col-sm-12 textLeft">
    <span class="col-sm-2"><h5>ID</h5> </span>
    <span class="col-sm-6 paddingTop10"><%= @exam.id %></span>
  </div>
  <div class="col-sm-12 textLeft">
    <span class="col-sm-2"><h5>Conducted By</h5> </span>
    <span class="col-sm-6 paddingTop10"><%= @exam.conducted_by %></span>
  </div>
  <div class="col-sm-12 textLeft">
    <span class="col-sm-2"><h5>Class</h5> </span>
    <span class="col-sm-6 paddingTop10">
      <%- unless @exam.class_ids.blank? %>
        <%- @exam.jkci_classes.each do |cls| %>
	  <a href="<%= jkci_class_path(cls) %>"><%= cls.class_name %>  | </a>
	<%- end %>
      <%- else %>
        <a href="<%= jkci_class_path(@exam.jkci_class || 0) %>"><%= @exam.jkci_class.try(:class_name) %></a>
      <%- end %>
    </span>
  </div>
  
  <div class="col-sm-12 textLeft">
    <span class="col-sm-2"><h5>Exam Date</h5></span>
    <span class="col-sm-6 paddingTop10"><%= @exam.exam_date %></span>
  </div>
  <div class="col-sm-12 textLeft">
    <span class="col-sm-2"><h5>Exam Duration</h5></span>
    <span class="col-sm-6 paddingTop10"><%= @exam.duration %></span>
  </div>
  <div class="col-sm-12 textLeft">
    <span class="col-sm-2"><h5>Total Marks</h5></span>
    <span class="col-sm-6 paddingTop10"><%= @exam.marks %></span>
  </div>
  <div class="col-sm-12 textLeft">
    <span class="col-sm-2"><h5>Is result Decleared</h5></span>
    <span class="col-sm-6 paddingTop10"><%= @exam.is_result_decleared || false %></span>
  </div>
  <div class="col-sm-12 textLeft">
    <span class="col-sm-2"><h5>Is Completed</h5></span>
    <span class="col-sm-6 paddingTop10"><%= @exam.is_completed %></span>
  </div>
  <div class="col-sm-12 textLeft">
    <span class="col-sm-2"><h5>Exams Papers</h5></span>
    <div class="col-sm-6 paddingTop10 examDocument">
      <%- @exam.documents.each do |paper| %>
      <a href="<%= paper.document.url %>" target="_blank">
	<%= paper.document_file_name %>
      </a>
      &nbsp;&nbsp;&nbsp;
      <%- end %>
    </div>
  </div>
  <div class="col-sm-12 textLeft">
    <span class="col-sm-2"><h5>Upload Exam Papers</h5></span>
    <div style="float:left;margin-bottom:20px;" class="col-sm-6 paddingTop10">
      <%= form_for(Document.new, url:"/exam/#{@exam.id}/upload_paper", remote: true, id: 'exam_document_attachment', method: :post, html: {multipart: true, class: ''}) do |f| %>
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
      <%= hidden_field_tag :exam_id, @exam.id %>
      <%= f.file_field :document, class: 'attachment', id: 'image_attachment_field', onChange:"addExamDocumant(this);", style:'float:left;'  %>
      <img class="loadingImg hide" src="https://s3-ap-southeast-1.amazonaws.com/jkciphoto/jkProdPhoto/useful/loading.gif" style="width:25px;float:left;">
      <% end %>
      
    </div>
  </div>
  <%- unless @exam.is_result_decleared %>
  <div class="col-sm-12 textLeft paddingTop10">
    <%- unless @exam.is_completed %>
    <%= link_to "Edit", edit_exam_path(@exam),  class: 'btn btn-primary btn-sm' %>
    <%- end %>
    <%= link_to "Back", exams_path,  class: 'btn btn-default btn-sm' %>
  </div>
  <div class="col-sm-12 textLeft" style="margin-top:20px;">
    <%- if @exam.is_completed %>
    <%= link_to "Add Absent Student", exam_absent_students_path(@exam), class: 'btn btn-primary btn-sm' %>
    <%= link_to "Add Exam Result" , exams_students_path(@exam), class: 'btn btn-primary btn-sm' %>
    <%- end %>
    <%- unless @exam.is_completed %>
    <%= link_to "Exam Conducted", exam_completed_path(@exam), class: 'btn btn-primary btn-sm', onclick: "return confirm('Are you sure?')" %>
    <%- else %>
    <%= link_to "Publish Absent catlog", publish_absent_exam_path(@exam), class: 'btn btn-primary btn-sm', onclick: "return confirm('Are you sure?')" %>
    <%= link_to "Publish Result", publish_result_path(@exam), class: 'btn btn-primary btn-sm', onclick: "return confirm('Are you sure?')" %>
    <%- end %>
  </div>
  <div class="col-sm-12 textLeft paddingTop10 hide">
    <%#= link_to "Send Absent Student SMS", send_exam_absent_student_sms_path(@exam), class: 'btn btn-primary btn-sm' %>
  </div>
  <%- end %>
  <%- if @exam.is_completed %>
  <h2>Remaining Students</h2>
  <div class="col-sm-12 textLeft">
    <table class="table table-striped">
      <thead>
	<tr>
	  <th>#</th>
	  <th>Student Name</th>
	  <th>Mobile</th>
	  <th>Parent Number</th>
	</tr>
      </thead>
      <%- @remaining_students.each_with_index do |exam_catlog, index| %>
      <tr class="<%= 'red' if exam_catlog.is_recover %> ">
	<td>
	  <%= index %>
	</td>
	<td>
	  <%= link_to exam_catlog.student.name, student_path(exam_catlog.student) %>
	</td>
	<td>
	  <%= exam_catlog.student.mobile %>
	</td>
	<td>
	  <%= exam_catlog.student.parent_name %>
	</td>
      </tr>
      <%- end %>
    </table>
  </div>


  <h2>Absent Students</h2>
  <div class="col-sm-12 textLeft">
    <table class="table table-striped">
      <thead>
	<tr>
	  <th>#</th>
	  <th>Student Name</th>
	  <th>Parent Number</th>
	  <%- unless @exam.is_result_decleared %>
	    <th>Recover</th>
	    <th>Remove</th>
	  <%- end %>
	</tr>
      </thead>
      <%- @exam_absents.each_with_index do |exam_catlog, index| %>
      <tr>
	<td>
	  <%= index %>
	</td>
	<td>
	  <%= link_to exam_catlog.student.name, student_path(exam_catlog.student) %>
	</td>
	<td>
	  <%= exam_catlog.student.p_mobile %>
	</td>
	<%- unless @exam.is_result_decleared %>
	<td>
	  <%- unless exam_catlog.is_recover %>
	  <%= link_to 'Recover', recover_exam_path(exam_catlog.exam, exam_catlog) %>
	  <%- end %>
	</td>
	<td>
	  <%= link_to 'Remove', remove_exam_absent_path(exam_catlog.exam, exam_catlog.student)  %>
	</td>
      </tr>
      <%- end %>
      <%- end %>
    </table>
  </div>
  <h2>Results</h2>
  <div class="col-sm-12 textLeft">
    <table class="table table-striped">
      <thead>
	<tr>
	  <th>#</th>
	  <th>Student Name</th>
	  <th>Marks</th>
	  <th>Parent Number</th>
	  <%- unless @exam.is_result_decleared %>
	    <th>Remove</th>
	  <%- end %>
	</tr>
      </thead>
      <%- @exam.exam_results.each_with_index do |result, index| %>
      <tr>
	<td>
	  <%= index %>
	</td>
	<td>
	  <%= link_to result.student.name, student_path(result.student), class: "#{'orange' if result.is_recover}"%>
	</td>
	<td>
	  <%= result.marks %>
	</td>
	<td>
	  <%= result.student.p_mobile %>
	</td>
	<%- unless @exam.is_result_decleared %>
	<td>
	  <%= link_to 'remove', remove_exam_result_path(@exam,result.id) %>
	</td>
	<%- end %>
      </tr>
      <%- end %>
    </table>
  </div>
  <%- end %>
  <%- if @exam.dtps.present? %>
  <h2>Related Points</h2>
  <div class="col-sm-12 textLeft" style="margin-bottom:20px;">
    <%- @exam.dtps.each_with_index do |dtp, index| %>
    <div>
      <%= index + 1 %>  : <%= link_to dtp.points, daily_teach_path(dtp) %> (absent - <%= dtp.absent_count %>)
    </div>
    <%- end %>
  </div>
  <%- end %>
</div>
</div>
</div>
