<%- students.enable_students.each_with_index do |student, index| %>
  <tr class="<%= 'red' if student.is_disabled %>">
    <td>
      <%= (((params[:page] || 1).to_i - 1) * 10) + index + 1 %>
    </td>
    <td>
      <%= student.name %>
    </td>
    <td>
      <%= student.gender %>
    </td>
    <td>
      <%= student.group %>
    </td>
    <td>
      <%= student.mobile %>
    </td>
    <td>
      <%= student.p_mobile %>
    </td>
    <td>
      <%- unless student.is_disabled %>
        <%= link_to 'Show', student_path(student) %> | 
      <%- end %>
      <%= link_to "remove", "/jkci_classes/#{@jkci_class.id}/sub_class/#{@sub_class.id}/remove_students?&student=#{student.id}"%>
    </td>
  </tr>
<%- end %>

