<!--<ul class="k-twitter-twitts list-unstyled">
  <li class="twitter-twitt">
    <p>
      <a href="https://twitter.com/DanielleFilson">@MattDeamon</a> Why it always has to be so complicated? Try to get it via this link <a href="http://usap.co/potter">mama.co/hpot</a> Good luck mate!
    </p>
  </li>
</ul>
<div class="k-twitter-twitts-footer">
  <a href="#" class="k-twitter-twitts-follow" title="Follow!"><i class="fa fa-twitter"></i>&nbsp; Follow us!</a>
</div>
-->

<li class="widget_recent_news"><!-- widgets list -->
  <h1 class="title-widget">We Provides</h1>
  <ul class="list-unstyled">
    <li class="recent-news-wrap news-no-summary">
      <div class="recent-news-content clearfix">
        <figure class="recent-news-thumb">
          <a href="#" title="We Provides"><img src="<%= HOSTEL_IMG %>" class="attachment-thumbnail wp-post-image" alt="Hostel"></a>
        </figure>
        <div class="recent-news-text">
          <h2 class="title-median"><a href="#" title="We Provides">24 Hours Residence Teachers</a></h2>
        </div>
      </div>
    </li>
    <li class="recent-news-wrap news-no-summary">
      <div class="recent-news-content clearfix">
        <figure class="recent-news-thumb">
          <a href="#" title="We Provides"><img src="<%= DAILY_DOUBTS_IMG %>" class="attachment-thumbnail wp-post-image" alt="Doubt Sessions"></a>
        </figure>
        <div class="recent-news-text">
          <h2 class="title-median"><a href="#" title="We Provides">Daily Doubt Session In Evening</a></h2>
        </div>
      </div>
    </li>
    <li class="recent-news-wrap news-no-summary">
      <div class="recent-news-content clearfix">
        <figure class="recent-news-thumb">
          <a href="#" title="We Provides"><img src="<%= LIBRARY_IMG %>" class="attachment-thumbnail wp-post-image" alt="Library"></a>
        </figure>
        <div class="recent-news-text">
          <h2 class="title-median"><a href="#" title="We Provides">24 Hours Library</a></h2>
        </div>
      </div>
    </li>
    <li class="recent-news-wrap news-no-summary">
      <div class="recent-news-content clearfix">
        <figure class="recent-news-thumb">
          <a href="#" title="We Provides"><img src="<%= PROGRESS_IMG %>" class="attachment-thumbnail wp-post-image" alt="Progress Report"></a>
        </figure>
        <div class="recent-news-text">
          <h2 class="title-median"><a href="#" title="We Provides">Daily Progress/Track Report</a></h2>
        </div>
      </div>
    </li>
    <li class="recent-news-wrap news-no-summary">
      <div class="recent-news-content clearfix">
        <figure class="recent-news-thumb">
          <a href="#" title="We Provides"><img src="<%= SECURITY_IMG %>" class="attachment-thumbnail wp-post-image" alt="Security"></a>
        </figure>
        <div class="recent-news-text">
          <h2 class="title-median"><a href="#" title="We Provides">Security</a></h2>
        </div>
      </div>
    </li>
    <li class="recent-news-wrap news-no-summary">
      <div class="recent-news-content clearfix">
        <figure class="recent-news-thumb">
          <a href="#" title="We Provides"><img src="<%= MESS_IMG %>" class="attachment-thumbnail wp-post-image" alt="Kitchen"></a>
        </figure>
        <div class="recent-news-text">
          <h2 class="title-median"><a href="#" title="We Provides">Kitchen</a></h2>
        </div>
      </div>
    </li>
    <li class="recent-news-wrap news-no-summary">
      <div class="recent-news-content clearfix">
        <figure class="recent-news-thumb">
          <a href="#" title="We Provides"><img src="<%= GYM_IMG %>" class="attachment-thumbnail wp-post-image" alt="Gymnasium"></a>
        </figure>
        <div class="recent-news-text">
          <h2 class="title-median"><a href="#" title="We Provides">Gymnasium</a></h2>
        </div>
      </div>
    </li>
    <li class="recent-news-wrap news-no-summary">
      <div class="recent-news-content clearfix">
        <figure class="recent-news-thumb">
          <a href="#" title="We Provides"><img src="<%= YOGA_IMG %>" class="attachment-thumbnail wp-post-image" alt="Yoga"></a>
        </figure>
        <div class="recent-news-text">
          <h2 class="title-median"><a href="#" title="We Provides">yoga session</a></h2>
        </div>
      </div>
    </li>
  </ul>
</li>
