<div id="k-head" class="container"><!-- container + head wrapper -->
  <div class="row"><!-- row -->
    <nav class="k-functional-navig"><!-- functional navig -->
      <ul class="list-inline pull-right">
	<%- if user_signed_in? %>
	<li><%= current_user.email %></li>
	<%- end %>
        <li>
	  <%- if user_signed_in? %>
	    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
	  <%- end %>
	</li>
      </ul>
    </nav><!-- functional navig end -->
    <div class="col-lg-12">
      <div id="k-site-logo" class="pull-left"><!-- site logo -->
        <h1 class="k-logo">
          <a href="/" title="Home Page">
            <img src="https://s3-ap-southeast-1.amazonaws.com/jkciphoto/jkProdPhoto/image/1/medium/logo.jpg" alt="Site Logo" class="img-responsive" style="max-width:150px;"/>
          </a>
        </h1>
        <a id="mobile-nav-switch" href="#drop-down-left"><span class="alter-menu-icon"></span></a><!-- alternative menu button -->
      </div><!-- site logo end -->
      <nav id="k-menu" class="k-main-navig"><!-- main navig -->
        <ul id="drop-down-left" class="k-dropdown-menu">
          <li class="<%= home_select(request.path) %>">
            <a href="<%= root_path %>" title="Home">Home</a>
          </li>
          <li class="<%= event_select(params[:controller]) %>">
            <a href="<%= events_path %>" title="Upcoming Events">Events</a>
          </li>
          <li>
            <a href="<%= courses_path %>" title="Available Courses">Courses</a>
          </li>
          <li>
            <a href="<%= galleries_path %>" class="Pages Collection" title="More Templates">Gallery</a>
            <!--ul class="sub-menu">
              <li><a href="news-single.html">News Single Page</a></li>
              <li><a href="events-single.html">Events Single Page</a></li>
              <li><a href="courses-single.html">Course Single Page</a></li>
              <li><a href="gallery-single.html">Gallery Single Page</a></li>
              <li><a href="news-stacked.html">News Stacked Page</a></li>
              <li><a href="search-results.html">Search Results Page</a></li>
            </ul-->
          </li>
          <li>
            <a href="<%= about_us_path %>" title="How things work">About Us</a>
            <ul class="sub-menu">
              <li><a href="<%= results_path %>">Results</a></li>
            </ul>
          </li>
          <li>
	    <%- if user_signed_in? %>
	      <%- if current_user.admin? %>
	      <a href="/admin_desk" title="Manage Your Desk">Admin Desk</a>
              <ul class="sub-menu">
		<li><a href="<%= exams_path%>">Exam</a></li>
		<li><a href="<%= students_path %>">Student</a></li>
		<li><a href="<%= jkci_classes_path %>">Classes</a></li>
		<li><a href="<%= daily_teachs_path %>">Daily Teach</a></li>
		<li><a href="<%= manage_albums_path %>">Albums</a></li>
		<li><a href="<%= manage_events_path %>">Events</a></li>
		<li><a href="<%= batch_results_path %>">Batch Results</a></li>
		<li><a href="<%= parents_path %>">Parents Login</a></li>
		<li><a href="<%= parents_meeting_index_path %>">Parents Meeting</a></li>
		<li><a href="<%= talent2015_path %>">talent2015</a></li>
              </ul>
	      <%- elsif current_user.parent? %>
	        <a href="/parent_desk" title="Manage Your Desk">Parent's Desk</a>
	      <%- end %>
	    <%- else %>
	      <%= link_to "Contact Us", contact_us_path, 'data-no-turbolink' => true, title: 'Contact Us' %>
               <ul class="sub-menu">
		 <li>
		   <a  href="<%= new_user_session_path %>" method="delete">Login</a>
		 </li>
               </ul>
	    <%- end %>
          </li>
        </ul>
      </nav><!-- main navig end -->
    </div>
  </div><!-- row end -->
</div><!-- container + head wrapper end -->

