<!DOCTYPE html>
<html>
<head>
  <title>Jkci</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="oneeightyWidth" style="margin:0 auto;">
  <a href="<%= root_url%>"><h2>HH</h2></a>
</div>
<div style="position:fixed;right:20px;top:10px;" class="right">
  Time : <%= Time.now %>
</div>
<div class="center">
  <div class="oneeightyWidth">
    <%= yield %>
  </div>
</div>

</body>
</html>
